


.global {


    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;

    border-radius: 25px;
}

.global:hover {
    cursor: pointer;
}