*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
    --bg-primary: #76be0b;
    --bg-secondary: linear-gradient(99.54deg, #0A6523 7.46%, #12582C 7.47%, rgba(18, 88, 44, 0.78) 45.14%, rgba(18, 88, 44, 0.78) 48.35%, rgba(18, 88, 44, 0.78) 53.87%, rgba(18, 88, 44, 0.78) 62.6%, rgba(18, 88, 44, 0.78) 95.68%);;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}