.navItem {
    width: 100%;
}

.navItem:last-child {
    margin-top: auto;
}

.navLink{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

    transition: var(--transition-speed);
}
.navLinkClicked{
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.navLink:hover {

    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.navLink svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}






