
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
.global {
flex-direction: row;
    display: flex;
    font-family:  'Aladin', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;

    color: #000000;

    opacity: 0.5;

    margin-top: 10px;
    margin-left: 30px;



}

.title{
    text-decoration: underline  ;

    text-align: start;
    margin-right: 30px;

    margin-left: 30px;
}

.content {

    text-align: start;


}